# VS Code settings folder
.vscode/

# Project's build files
build/*

# Logs
*.log

# Media
*.png
*.jpg
*.webm
*.mp4
*.mkv
*.mp3

# C++ .gitignore template below

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib




# Executables
*.exe
*.out
*.app

lab1/src/child
lab1/src/parent
lab3/src/result.txt
lab1/src/result.txt
lab4/src/test_static
lab4/src/test_dynamic
lab5-7/src/GOVNO_CODE.c
lab5-7/src/dev.c
